{{define "main"}}
<div class="top-news">
    <div class="banner-img">
        <img src="/static/img/mbappe39.jpg" alt="image">
    </div>
    <h3><a href="#">“Монако” президенти: “Мбаппени “Реал”га сотганим яхшироқ эди”</a></h3>
    <p>“Монако” президенти Вадим Васильев Мбаппе учун “Реал” ҳам 180 млн евро таклиф қилганини айтиб ўтди.</p>
    <div class="top-news_list">
        <div class="row">
            <div class="col-xs-6">
                <div class="top-news_list_item">
                    <div class="media">
                        <div class="media-left">
                            <img src="/static/img/fred7.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <a href="#">«Манчестер Сити» 10 йилда трансферлар учун қанча сарфлаган бўлиши мумкин?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="top-news_list_item">
                    <div class="media">
                        <div class="media-left">
                            <img src="/static/img/fred7.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <a href="#">Оливье Жиру расман «Челси» футболчисига айланди</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="top-news_list_item">
                    <div class="media">
                        <div class="media-left">
                            <img src="/static/img/fred7.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <a href="#">Реал»нинг қишда сотиб олиши керак бўлган футболчи кимлиги маълум бўлди</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="top-news_list_item">
                    <div class="media">
                        <div class="media-left">
                            <img src="/static/img/fred7.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <a href="#">«Вильярреал» Хавини сотиб олди</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="top-news_list_item">
                    <div class="media">
                        <div class="media-left">
                            <img src="/static/img/fred7.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <a href="#">Почеттино: «Льоренте ҳақида изоҳ бера олмайман»</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="top-news_list_item">
                    <div class="media">
                        <div class="media-left">
                            <img src="/static/img/fred7.jpg" alt="image">
                        </div>
                        <div class="media-body">
                            <a href="#">Агент: «Интер» Шкриньярни 65 миллионга ҳам сотмайди»</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-banner"></div>

<div class="news-rubrics_list">
    <div class="rubric-item">
        <div class="rubric-item_header">
            <div class="row">
                <div class="col-xs-5">
                    <h2 class="rubric-item_header_title">
                        ЖАҲОН ФУТБОЛИ
                    </h2>
                </div>
                <div class="col-xs-7 text-right">
                    <a href="#">ушбу бўлимнинг барча янгиликлари <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="rubric-item_content">
            <div class="row">
                <div class="col-xs-8">
                    <div class="news_rubrics_main">
                        <img src="/static/img/afc-u23-2018-logo.jpg" alt="image">
                        <h6><a href="#">U-23 Осиё чемпионатининг энг чиройли голи учун овоз беринг</a></h6>
                        <p>
                            Осиё Футбол Конфедерацияси ўзининг расмий сайтида Хитойда бўлиб ўтган U-23 Осиё чемпионатининг энг чиройли голини аниқлаш учун сўровнома ташкил қилди.
                        </p>
                    </div>
                    <div class="news_rubrics_main">
                        <img src="/static/img/afc-u23-2018-logo.jpg" alt="image">
                        <h6><a href="#">Италия терма жамоаси собиқ мураббийи оламдан ўтди</a></h6>
                        <p>
                            Италия терма жамоасининг собиқ мураббийи Адзельо Вичини 84 ёшида оламдан ўтди.
                        </p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="news-rubrics_other">
                        <a href="#">
                            Чилаверт: «Мессисиз Аргентина бир тийинга қиммат жамоа»
                        </a>
                        <a href="#">
                            Футбол тарихида биринчи марта биткоинга трансфер амалга оширилди
                        </a>
                        <a href="#">
                            Чилаверт: «Мессисиз Аргентина бир тийинга қиммат жамоа»
                        </a>
                        <a href="#">
                            Футбол тарихида биринчи марта биткоинга трансфер амалга оширилди
                        </a>
                        <a href="#">
                            Чилаверт: «Мессисиз Аргентина бир тийинга қиммат жамоа»
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rubric-item">
        <div class="rubric-item_header">
            <div class="row">
                <div class="col-xs-5">
                    <h2 class="rubric-item_header_title">
                        ЖАҲОН ФУТБОЛИ
                    </h2>
                </div>
                <div class="col-xs-7 text-right">
                    <a href="#">ушбу бўлимнинг барча янгиликлари <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="rubric-item_content">
            <div class="row">
                <div class="col-xs-8">
                    <div class="news_rubrics_main">
                        <img src="/static/img/afc-u23-2018-logo.jpg" alt="image">
                        <h6><a href="#">U-23 Осиё чемпионатининг энг чиройли голи учун овоз беринг</a></h6>
                        <p>
                            Осиё Футбол Конфедерацияси ўзининг расмий сайтида Хитойда бўлиб ўтган U-23 Осиё чемпионатининг энг чиройли голини аниқлаш учун сўровнома ташкил қилди.
                        </p>
                    </div>
                    <div class="news_rubrics_main">
                        <img src="/static/img/afc-u23-2018-logo.jpg" alt="image">
                        <h6><a href="#">Италия терма жамоаси собиқ мураббийи оламдан ўтди</a></h6>
                        <p>
                            Италия терма жамоасининг собиқ мураббийи Адзельо Вичини 84 ёшида оламдан ўтди.
                        </p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="news-rubrics_other">
                        <a href="#">
                            Чилаверт: «Мессисиз Аргентина бир тийинга қиммат жамоа»
                        </a>
                        <a href="#">
                            Футбол тарихида биринчи марта биткоинга трансфер амалга оширилди
                        </a>
                        <a href="#">
                            Чилаверт: «Мессисиз Аргентина бир тийинга қиммат жамоа»
                        </a>
                        <a href="#">
                            Футбол тарихида биринчи марта биткоинга трансфер амалга оширилди
                        </a>
                        <a href="#">
                            Чилаверт: «Мессисиз Аргентина бир тийинга қиммат жамоа»
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="rubric-item">
        <div class="rubric-item_header">
            <div class="row">
                <div class="col-xs-5">
                    <h2 class="rubric-item_header_title">
                        ЖАҲОН ФУТБОЛИ
                    </h2>
                </div>
                <div class="col-xs-7 text-right">
                    <a href="#">ушбу бўлимнинг барча янгиликлари <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="rubric-item_content">
            <div class="row">
                <div class="col-xs-8">
                    <div class="news_rubrics_main">
                        <img src="/static/img/afc-u23-2018-logo.jpg" alt="image">
                        <h6><a href="#">U-23 Осиё чемпионатининг энг чиройли голи учун овоз беринг</a></h6>
                        <p>
                            Осиё Футбол Конфедерацияси ўзининг расмий сайтида Хитойда бўлиб ўтган U-23 Осиё чемпионатининг энг чиройли голини аниқлаш учун сўровнома ташкил қилди.
                        </p>
                    </div>
                    <div class="news_rubrics_main">
                        <img src="/static/img/afc-u23-2018-logo.jpg" alt="image">
                        <h6><a href="#">Италия терма жамоаси собиқ мураббийи оламдан ўтди</a></h6>
                        <p>
                            Италия терма жамоасининг собиқ мураббийи Адзельо Вичини 84 ёшида оламдан ўтди.
                        </p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="news-rubrics_other">
                        <a href="#">
                            Чилаверт: «Мессисиз Аргентина бир тийинга қиммат жамоа»
                        </a>
                        <a href="#">
                            Футбол тарихида биринчи марта биткоинга трансфер амалга оширилди
                        </a>
                        <a href="#">
                            Чилаверт: «Мессисиз Аргентина бир тийинга қиммат жамоа»
                        </a>
                        <a href="#">
                            Футбол тарихида биринчи марта биткоинга трансфер амалга оширилди
                        </a>
                        <a href="#">
                            Чилаверт: «Мессисиз Аргентина бир тийинга қиммат жамоа»
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="rubric-item">
        <div class="rubric-item_header">
            <div class="row">
                <div class="col-xs-5">
                    <h2 class="rubric-item_header_title">
                        ЖАҲОН ФУТБОЛИ
                    </h2>
                </div>
                <div class="col-xs-7 text-right">
                    <a href="#">ушбу бўлимнинг барча янгиликлари <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="rubric-item_content">
            <table class="table">
                <thead class="blue">
                <tr>
                    <td>№</td>
                    <td>Фойдаланувчи</td>
                    <td>I</td>
                    <td>II</td>
                    <td>III</td>
                    <td>IV</td>
                    <td>V</td>
                    <td>VI</td>
                    <td>Жами</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>milanuzb</td>
                    <td>1120</td>
                    <td>260</td>
                    <td>0</td>
                    <td>780</td>
                    <td>0</td>
                    <td>0</td>
                    <td><b>2160</b></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>milanuzb</td>
                    <td>1120</td>
                    <td>260</td>
                    <td>0</td>
                    <td>780</td>
                    <td>0</td>
                    <td>0</td>
                    <td><b>2160</b></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>milanuzb</td>
                    <td>1120</td>
                    <td>260</td>
                    <td>0</td>
                    <td>780</td>
                    <td>0</td>
                    <td>0</td>
                    <td><b>2160</b></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>milanuzb</td>
                    <td>1120</td>
                    <td>260</td>
                    <td>0</td>
                    <td>780</td>
                    <td>0</td>
                    <td>0</td>
                    <td><b>2160</b></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>milanuzb</td>
                    <td>1120</td>
                    <td>260</td>
                    <td>0</td>
                    <td>780</td>
                    <td>0</td>
                    <td>0</td>
                    <td><b>2160</b></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>milanuzb</td>
                    <td>1120</td>
                    <td>260</td>
                    <td>0</td>
                    <td>780</td>
                    <td>0</td>
                    <td>0</td>
                    <td><b>2160</b></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>milanuzb</td>
                    <td>1120</td>
                    <td>260</td>
                    <td>0</td>
                    <td>780</td>
                    <td>0</td>
                    <td>0</td>
                    <td><b>2160</b></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>milanuzb</td>
                    <td>1120</td>
                    <td>260</td>
                    <td>0</td>
                    <td>780</td>
                    <td>0</td>
                    <td>0</td>
                    <td><b>2160</b></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>milanuzb</td>
                    <td>1120</td>
                    <td>260</td>
                    <td>0</td>
                    <td>780</td>
                    <td>0</td>
                    <td>0</td>
                    <td><b>2160</b></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
{{end}}