/*------PAGE ELEMENTS CSS----*/

b,strong{
	font-family: "RobotoBold";
}

.navbar{
	border-radius: 0;
}

.navbar-default{
	background: #38618E;
	border-color: #38618E;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #E8EDF1;
	text-decoration: underline;
}

.navbar-inverse{
	border: 0;
	background-color: #36393D;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	background-color: #B02B2C;
}

.btn{
	border-radius: 0;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s ;
	-ms-transition: all ease 0.2s ;
	-o-transition: all ease 0.2s ;
	transition: all ease 0.2s ;
	padding: 4px 12px;
	font-size: 14px;
}

.btn-primary:hover{
	background-color: #ED3800;
	border-color: #ED3800;
}

.btn-primary.focus,
.btn-primary:focus {
	color: #fff;
	background-color: #8c2809;
	border-color: #8c2809;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover,
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	background-color: #8c2809;
	border-color: #8c2809;
}

.btn-group-xs>.btn, .btn-xs {
	padding: 1px 5px;
	font-size: 11px;
	line-height: 1.5;
	border-radius: 0px;
}

.navbar-btn {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav-tabs{
	margin-bottom: 20px;
}

.form-control{
	height: 30px;
	border-radius: 0;
	padding: 4px 12px;
}

.h1, .h2, .h3, h1, h2, h3{
	font-family: "RobotoBold";
}

h1{
	font-size: 26px;
}

h2{
	font-size: 24px;
}

h3{
	font-size: 20px;
}

h4{
	font-size: 18px;
}

h5{
	font-size: 16px;
}

h6{
	font-size: 14px;
}

th{
	font-family: "RobotoBold";
}

thead{
	background-color: #E8EDF1;
}

a {
	text-decoration: none;
	color: #38618E;
}

a:hover {
	text-decoration: underline;
	color: #ED1C33;
}

blockquote{
	font-size: 15px;
	background-color: #E8EDF1;
	border-left: 5px solid #d4d4d4;
}

.table{
	font-size: 13px;
}

.no-border{
	border: 0!important;
}

.bottom-btn{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #B6C6D6;
}

.margin-b-0{
	margin-bottom: 0;
}


.large{
	font-size: large;
}

#tagcloud .largest {
	font-size: larger;
}

.medium {
	font-size: medium;
}

.smallest {
	font-size: x-small;
}

.small {
	font-size: small;
}

.simple-list{
	padding-left: 0;
	list-style: none;
}

.simple-list li{
	list-style: none;
	position: relative;
	padding-left: 10px;
	margin-bottom: 5px;
}

.simple-list li:before{
	content: "\f0da";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #3ea23f;
	font-size: 12px;
	width:14px;
	height:14px;
	position: absolute;
	left: 0;
	top: 5px;

}


/*----colors---*/

.red-text{
	color: #ED1C33;
}

.blue{
	background-color: #38618E;
	color: #fff;
}

