{{define "layout"}}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Stadion.uz</title>
	<meta name="description" content="">
	<link rel="shortcut icon" href="/static/img/favicon/favicon.ico" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/fonts.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/theme-css.css">
	<script src="/static/libs/modernizr/modernizr.js"></script>
</head>
<body>
		<!--back-banner-->
		<a href="#" class="back-banner" style="background-image: url('/static/img/ads-fon.jpg')">
		</a>

		<!--top nav-->
		<nav class="navbar navbar-default top-nav">
			<div class="container">
				<a href="#" class="btn btn-primary navbar-btn">Кириш</a>
				<a href="#" class="btn btn-primary navbar-btn">Регистрация</a>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#">Реклама</a>
					</li>
					<li>
						<a href=""><i class="fa fa-mobile"></i> m.std.uz</a>
					</li>
					<li>
						<a href=""><i class="fa fa-facebook"></i> facebook</a>
					</li>
					<li>
						<a href=""><i class="fa fa-twitter"></i> twitter</a>
					</li>
					<li>
						<a href=""><i class="fa fa-telegram"></i> telegram</a>
					</li>
					<li>
						<a href=""><i class="fa fa-rss"></i> RSS</a>
					</li>
					<li>
						<a href=""> Алоқа</a>
					</li>
				</ul>
			</div>
		</nav>


		<div class="container" id="main-wrapp"><!-- container start -->

			<header class="main-header">
				<div class="main-header_content">
					<div class="row">
						<div class="col-xs-2">
							<h1 class="main-logo">
								<a href="/"><img src="/static/img/top_logo.png" alt="Stadion.uz"></a>
							</h1>
						</div>
						<div class="col-xs-7">
							<div class="top-adv-block clearfix">
								<div class="top-adv-block_item">
									320x110
								</div>

								<div class="top-adv-block_item">
									320x110
								</div>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="row">
								<form class="header-search clearfix">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Search">
									</div>
									<button type="submit" class="btn btn-default">қидириш</button>
								</form>
								<p>Бугун 29 январь, 2018 йил, душанба.</p>

								<a href="#" class="btn btn-primary">O'zbekcha</a>
								<a href="#" class="btn btn-primary">Русская</a>
								<a href="#" class="btn btn-primary">English</a>

							</div>

						</div>
					</div>
				</div>



				<nav class="main-items-menu">
					<ul>
						<li><a href="#" class="red-text"><b>LIVE</b></a></li>
						<li><a href="#">Фаол мухлис</a></li>
						<li><a href="#">Фут.башорати</a></li>
						<li><a href="#">Викторина</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Конференция</a></li>
						<li><a href="#">Афсоналар</a></li>
						<li><a href="#">Видео</a></li>
						<li><a href="#">ТВ-Онлайн</a></li>
						<li><a href="#">ТВ-дастур</a></li>
						<li><a href="#">Трансфер</a></li>
						<li><a href="#">Юмор</a></li>
						<li><a href="#">Энг-энг...</a></li>
						<li><a href="#">Кирманг</a></li>
					</ul>
				</nav>

				<nav class="navbar navbar-inverse rounded">
					<ul class="nav navbar-nav nav-just">
						<li><a href="#">ЕВРО-2016</a></li>
						<li><a href="/yangiliklar">ЯНГИЛИКЛАР</a></li>
						<li><a href="#">ЖАҲОН ФУТБОЛИ</a> </li>
						<li><a href="#">ЕВРОПА</a></li>
						<li><a href="#">ОСИЁ</a> </li>
						<li><a href="#">ЎЗБЕК ФУТБОЛИ</a></li>
						<li><a href="#">СПОРТ</a></li>
						<li><a href="#">ТЎПУРАРЛАР</a></li>
						<li><a href="#">РЕЙТИНГЛАР</a></li>
						<li><a href="#">СТАДИОНЛАР</a></li>
					</ul>
				</nav>

				<div class="online-table">
					<div class="online-table_header">
						<b>Ла-лига</b>
						<div class="pull-right">
							<a href="#">жадвал</a>
							<a href="#">тақвим</a>
							<a href="#"> тўпурарлар</a>
						</div>
					</div>
					<div class="online-table_content">
						<div class="online-table_item">
							<div class="row">
								<div class="col-xs-2 text-left">
									28.01.2018 00:45
								</div>
								<div class="col-xs-2 text-center">
									Вильярреал <a href="#">4:2</a> Реал Сосьедад
								</div>
								<div class="col-xs-2 text-center">
									28.01.2018 00:45
								</div>
								<div class="col-xs-2 text-center">
									Леганес <a href="#">4:2</a> Эспаньол
								</div>
								<div class="col-xs-2 text-center">
									28.01.2018 20:15
								</div>
								<div class="col-xs-2 text-center">
									Атлетико <a href="#">4:2</a> Лас-Палмас
								</div>
							</div>
						</div>
						<div class="online-table_item">
							<div class="row">
								<div class="col-xs-2 text-left">
									28.01.2018 00:45
								</div>
								<div class="col-xs-2 text-center">
									Вильярреал <a href="#">4:2</a> Реал Сосьедад
								</div>
								<div class="col-xs-2 text-center">
									28.01.2018 00:45
								</div>
								<div class="col-xs-2 text-center">
									Леганес <a href="#">4:2</a> Эспаньол
								</div>
								<div class="col-xs-2 text-center">
									28.01.2018 20:15
								</div>
								<div class="col-xs-2 text-center">
									Атлетико <a href="#">4:2</a> Лас-Палмас
								</div>
							</div>
						</div>
					</div>
					<div class="online-table_header">
						<b>«A» Серия  <img src="/static/img/seriealogol.jpg" alt="image"></b>
						<div class="pull-right">
							<a href="#">жадвал</a>
							<a href="#">тақвим</a>
							<a href="#"> тўпурарлар</a>
						</div>
					</div>
					<div class="online-table_content">
						<div class="online-table_item">
							<div class="row">
								<div class="col-xs-2 text-left">
									28.01.2018 00:45
								</div>
								<div class="col-xs-2 text-center">
									Вильярреал <a href="#">4:2</a> Реал Сосьедад
								</div>
								<div class="col-xs-2 text-center">
									28.01.2018 00:45
								</div>
								<div class="col-xs-2 text-center">
									Леганес <a href="#">4:2</a> Эспаньол
								</div>
								<div class="col-xs-2 text-center">
									28.01.2018 20:15
								</div>
								<div class="col-xs-2 text-center">
									Атлетико <a href="#">4:2</a> Лас-Палмас
								</div>
							</div>
						</div>
						<div class="online-table_item">
							<div class="row">
								<div class="col-xs-2 text-left">
									28.01.2018 00:45
								</div>
								<div class="col-xs-2 text-center">
									Вильярреал <a href="#">4:2</a> Реал Сосьедад
								</div>
								<div class="col-xs-2 text-center">
									28.01.2018 00:45
								</div>
								<div class="col-xs-2 text-center">
									Леганес <a href="#">4:2</a> Эспаньол
								</div>
								<div class="col-xs-2 text-center">
									28.01.2018 20:15
								</div>
								<div class="col-xs-2 text-center">
									Атлетико <a href="#">4:2</a> Лас-Палмас
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="content-banner">
					1140x100
				</div>

				<ul class="teams-logo-list nav-just">
					<li>
						<a href="#">
							<img src="/static/img/tm1.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm2.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm3.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm4.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm5.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm6.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm7.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm8.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm9.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm10.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm11.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm12.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm13.png" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm14.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm15.jpg" alt="image">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/static/img/tm16.jpg" alt="image">
						</a>
					</li>


				</ul>
			</header>

			<div class="main-content"> <!-- main content start-->
				<div class="row">

					<aside class="col-xs-3"> <!-- left aside bar start-->

						<blockquote>
							<a href="#"><i>«Stadion.uz тармоқларига уланинг!»</i></a>
						</blockquote>

						<div class="container-person clearfix">
							<a href="#" class="person-item">
								<img src="/static/img/ronaldu.jpg" alt="Роналду">
								<p class="description_per">Роналду</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/sardor.jpg" alt="Сардор Рашидов">
								<p class="description_per">Сардор Рашидов</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/ronaldu.jpg" alt="Роналду">
								<p class="description_per">Роналду</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/sardor.jpg" alt="Сардор Рашидов">
								<p class="description_per">Сардор Рашидов</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/ronaldu.jpg" alt="Роналду">
								<p class="description_per">Роналду</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/sardor.jpg" alt="Сардор Рашидов">
								<p class="description_per">Сардор Рашидов</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/ronaldu.jpg" alt="Роналду">
								<p class="description_per">Роналду</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/sardor.jpg" alt="Сардор Рашидов">
								<p class="description_per">Сардор Рашидов</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/ronaldu.jpg" alt="Роналду">
								<p class="description_per">Роналду</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/sardor.jpg" alt="Сардор Рашидов">
								<p class="description_per">Сардор Рашидов</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/ronaldu.jpg" alt="Роналду">
								<p class="description_per">Роналду</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/sardor.jpg" alt="Сардор Рашидов">
								<p class="description_per">Сардор Рашидов</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/ronaldu.jpg" alt="Роналду">
								<p class="description_per">Роналду</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/sardor.jpg" alt="Сардор Рашидов">
								<p class="description_per">Сардор Рашидов</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/ronaldu.jpg" alt="Роналду">
								<p class="description_per">Роналду</p>
							</a>
							<a href="#" class="person-item">
								<img src="/static/img/sardor.jpg" alt="Сардор Рашидов">
								<p class="description_per">Сардор Рашидов</p>
							</a>
						</div>

						<div class="aside-banner">
							263x328
						</div>

						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#tab1">Энг кўп ўқилган янгилик</a></li>
							<li><a data-toggle="tab" href="#tab2">Энг кўп муҳокама қилинган янгилик</a></li>
						</ul>

						<div class="tab-content bottom-btn">
							<div id="tab1" class="tab-pane fade in active">
								<p class="text-center">
									<a href="#" class="btn btn-primary btn-xs active">бир кунда</a>
									<a href="#" class="btn btn-primary btn-xs">ҳафтада</a>
									<a href="#" class="btn btn-primary btn-xs">бир ойда</a>
								</p>
								<div class="tab-content-link_list">
									<p><a href="#">Роналду пеналтидан гол урган вақтда унинг бўлажак рафиқаси нима билан машғул бўлганини биласизми?</a> [22515]</p>
									<p><a href="#">Тасанно! Азон овозини эшитган Марк Клаттенбург ўйинни тўхтатиб турди (видео)</a> [14102]</p>
									<p><a href="#">Сане Мессига ўхшаш уч футболчи номини айтди</a> [13228]</p>
									<p><a href="#">Роналду пеналтидан гол урган вақтда унинг бўлажак рафиқаси нима билан машғул бўлганини биласизми?</a> [22515]</p>
									<p><a href="#">Тасанно! Азон овозини эшитган Марк Клаттенбург ўйинни тўхтатиб турди (видео)</a> [14102]</p>
									<p><a href="#">Сане Мессига ўхшаш уч футболчи номини айтди </a> [13228]</p>
									<p><a href="#">Роналду пеналтидан гол урган вақтда унинг бўлажак рафиқаси нима билан машғул бўлганини биласизми?</a> [22515]</p>
									<p><a href="#">Тасанно! Азон овозини эшитган Марк Клаттенбург ўйинни тўхтатиб турди (видео) </a> [14102]</p>
									<p><a href="#">Сане Мессига ўхшаш уч футболчи номини айтди </a> [13228]</p>
								</div>
							</div>
							<div id="tab2" class="tab-pane fade">
								<p class="text-center">
									<a href="#" class="btn btn-primary btn-xs active">бир кунда</a>
									<a href="#" class="btn btn-primary btn-xs">ҳафтада</a>
									<a href="#" class="btn btn-primary btn-xs">бир ойда</a>
								</p>
								<div class="tab-content-link_list">
									<p><a href="#">Роналду пеналтидан гол урган вақтда унинг бўлажак рафиқаси нима билан машғул бўлганини биласизми?</a> [22515]</p>
									<p><a href="#">Тасанно! Азон овозини эшитган Марк Клаттенбург ўйинни тўхтатиб турди (видео)</a> [14102]</p>
									<p><a href="#">Сане Мессига ўхшаш уч футболчи номини айтди</a> [13228]</p>
									<p><a href="#">Роналду пеналтидан гол урган вақтда унинг бўлажак рафиқаси нима билан машғул бўлганини биласизми?</a> [22515]</p>
									<p><a href="#">Тасанно! Азон овозини эшитган Марк Клаттенбург ўйинни тўхтатиб турди (видео)</a> [14102]</p>
									<p><a href="#">Сане Мессига ўхшаш уч футболчи номини айтди </a> [13228]</p>
									<p><a href="#">Роналду пеналтидан гол урган вақтда унинг бўлажак рафиқаси нима билан машғул бўлганини биласизми?</a> [22515]</p>
									<p><a href="#">Тасанно! Азон овозини эшитган Марк Клаттенбург ўйинни тўхтатиб турди (видео) </a> [14102]</p>
									<p><a href="#">Сане Мессига ўхшаш уч футболчи номини айтди </a> [13228]</p>
								</div>
							</div>
						</div>

						<h3 class="aside-title">ТУРНИР ЖАДВАЛИ</h3>

						<div class="standings">
							<div class="form-group">
								<select class="form-control" id="sel1">
									<option>Европа</option>
									<option>Осиё</option>
									<option>Кубок</option>
									<option>Жахон</option>
								</select>
								<select class="form-control" id="sel2">
									<option>Англия. АПЛ</option>
									<option>Италия. «A» Серия</option>
									<option>УЕФА. ЕВРО</option>
									<option>УЕФА. ЕЧЛ</option>
								</select>
							</div>


							<table class="table">
								<thead>
									<tr>
										<th width="20">№</th>
										<th>Жамоа</th>
										<th align="center" width="35">Ў</th>
										<th align="center" width="35">О</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td><a href="#">Барселона</a></td>
										<td align="center">21</td>
										<td align="center">57</td>
									</tr>

									<tr>
										<td>1</td>
										<td><a href="#">Атлетико</a></td>
										<td align="center">21</td>
										<td align="center">57</td>
									</tr>

									<tr>
										<td>1</td>
										<td><a href="#">Валенсия</a></td>
										<td align="center">21</td>
										<td align="center">57</td>
									</tr>
									<tr>
										<td>1</td>
										<td><a href="#">Барселона</a></td>
										<td align="center">21</td>
										<td align="center">57</td>
									</tr>

									<tr>
										<td>1</td>
										<td><a href="#">Атлетико</a></td>
										<td align="center">21</td>
										<td align="center">57</td>
									</tr>

									<tr>
										<td>1</td>
										<td><a href="#">Валенсия</a></td>
										<td align="center">21</td>
										<td align="center">57</td>
									</tr>

									<tr>
										<td colspan="4" class="text-right">
											<a href="#">тўлиқ жадвал »</a>
										</td>
									</tr>

								</tbody>
							</table>

							<h3 class="aside-title">ЎТГАН ЎЙИНЛАР. 21-ТУР</h3>

							<table class="table table-cont bottom-btn">
								<tbody>
									<tr>
										<td>21-тур </td>
										<td align="right">Атлетик Бильбао</td>
										<td align="center" class="count"><a href="#">1-1</a></td>
										<td align="left">Эйбар</td>
									</tr>

									<tr>
										<td>21-тур </td>
										<td align="right">Депортиво</td>
										<td align="center" class="count"><a href="#">2-2</a></td>
										<td align="left">Леванте</td>
									</tr>

									<tr>
										<td>21-тур </td>
										<td align="right">Валенсия</td>
										<td align="center" class="count"><a href="#">1-1</a></td>
										<td align="left">Реал Мадрид</td>
									</tr>
									<tr>
										<td>21-тур </td>
										<td align="right">Малага</td>
										<td align="center" class="count"><a href="#">1-1</a></td>
										<td align="left">Жирона</td>
									</tr>

									<tr>
										<td>21-тур </td>
										<td align="right">Депортиво</td>
										<td align="center" class="count"><a href="#">2-2</a></td>
										<td align="left">Леванте</td>
									</tr>

									<tr>
										<td>21-тур </td>
										<td align="right">Валенсия</td>
										<td align="center" class="count"><a href="#">1-1</a></td>
										<td align="left">Реал Мадрид</td>
									</tr>
									<tr>
										<td>21-тур </td>
										<td align="right">Малага</td>
										<td align="center" class="count"><a href="#">1-1</a></td>
										<td align="left">Жирона</td>
									</tr>

								</tbody>
							</table>

						</div>

						<h3 class="aside-title">Сўровнома</h3>
						<div class="bottom-btn">
							<p>
								<b>Ўзбекистон U23 терма жамоаси Хитойда бўлиб ўтаётган Осиё чемпионатида қандай натижа қайд этади, деб ўйлайсиз?</b>
							</p>
							<form action="#">
								<div class="radio">
									<label><input type="radio" name="optradio">Гуруҳдан чиқа олмайди</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio">Чорак финалдан қайтади</label>
								</div>
								<div class="radio disabled">
									<label><input type="radio" name="optradio" disabled>Ярим финалгача чиқади</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio">Финалгача етиб боради</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio">Чемпион бўлади</label>
								</div>
								<p><button class="btn btn-primary">Овоз беринг!</button></p>
							</form>
							<p>
								<a href="#">Натижалар</a> <b>Жами овоз:</b>  7593 та.
							</p>
							<p class="text-right margin-b-0"><a href="#">Сўровномалар архиви</a></p>
						</div>
						<div class="bottom-btn">
							<p>
								<b>Қайси терма жамоа(лар)нинг ЖЧ-2018га бормаслиги сизни ранжитди?</b>
							</p>
							<form action="#">
								<div class="checkbox">
									<label><input type="checkbox" name="optradio">Гуруҳдан чиқа олмайди</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" name="optradio">Чорак финалдан қайтади</label>
								</div>
								<div class="checkbox disabled">
									<label><input type="checkbox" name="optradio" disabled>Ярим финалгача чиқади</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" name="optradio">Финалгача етиб боради</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" name="optradio">Чемпион бўлади</label>
								</div>
								<p><button class="btn btn-primary">Овоз беринг!</button></p>
							</form>
							<p>
								<a href="#">Натижалар</a> <b>Жами овоз:</b>  7593 та.
							</p>
							<p class="text-right margin-b-0"><a href="#">Сўровномалар архиви</a></p>
						</div>

						<h3 class="aside-title"><a href="#">ТВ ДАСТУРЛАР</a></h3>
						<nav class="tvnav">
							<ul>
								<li><a href="#">SPORT</a></li>
								<li><a href="#">МАТЧ! ФУТБОЛ-1</a></li>
								<li><a href="#">МАТЧ! ФУТБОЛ-2</a></li>
								<li><a href="#">МАТЧ! ФУТБОЛ-3</a></li>
								<li><a href="#">МАТЧ! ФУТБОЛ-4</a></li>

							</ul>
						</nav>

						<h3 class="aside-title"><a href="#">Блогдаги ўзгаришлар</a></h3>
						<div class="article-list">
							<article>
								<img src="/static/img/interfutbol-logo100-100.jpg" alt="image">
								<h4>
									<a href="#">
										«Про-лига» ёхуд иккинчи даражадаги лигамизни ривожлантириш учун нималар қилиш керак?
									</a>
								</h4>
								<p>Блог: <a href="#">InterFutbol газетаси блоги</a></p>
							</article>
							<article class="colored">
								<img src="/static/img/interfutbol-logo100-100.jpg" alt="image">
								<h4>
									<a href="#">
										Неймар: «Мбаппе футбол тарихига киради»
									</a>
								</h4>
								<p>Блог: <a href="#">InterFutbol газетаси блоги</a></p>
							</article>
							<article>
								<img src="/static/img/interfutbol-logo100-100.jpg" alt="image">
								<h4>
									<a href="#">
										Самвел Бабаян яқин кунларда хорижий клубни бошқаради!!!
									</a>
								</h4>
								<p>Блог: <a href="#">InterFutbol газетаси блоги</a></p>
							</article>
							<article class="colored">
								<img src="/static/img/interfutbol-logo100-100.jpg" alt="image">
								<h4>
									<a href="#">
										«Про-лига» ёхуд иккинчи даражадаги лигамизни ривожлантириш учун нималар қилиш керак?
									</a>
								</h4>
								<p>Блог: <a href="#">InterFutbol газетаси блоги</a></p>
							</article>
						</div>

						<h3 class="aside-title">ТЕГЛАР БУЛУТИ</h3>
						<div class="tag-cloud">
							<a href="#" class="large"> Сардор Рашидов </a>
							<a href="#" class="largest"> Ал-Жазира </a>
							<a href="#" class="smallest"> видео </a>
							<a href="#" class="small"> Ўзбекистон олимпия терма жамоаси </a>
							<a href="#" class="medium"> Лионель Месси </a>
							<a href="#" class="large"> Сардор Рашидов </a>
							<a href="#" class="largest"> Ал-Жазира </a>
							<a href="#" class="smallest"> видео </a>
							<a href="#" class="small"> Ўзбекистон олимпия терма жамоаси </a>
							<a href="#" class="medium"> Лионель Месси </a>
							<a href="#" class="large"> Сардор Рашидов </a>
							<a href="#" class="largest"> Ал-Жазира </a>
							<a href="#" class="smallest"> видео </a>
							<a href="#" class="small"> Ўзбекистон олимпия терма жамоаси </a>
							<a href="#" class="medium"> Лионель Месси </a>
						</div>

						<h3 class="aside-title">ХАБАРЛАР АРХИВИ</h3>

					</aside> <!-- left aside bar end-->

					<div class="col-xs-6"><!-- center content start-->
						{{template "main" .}}
					</div><!-- center content end-->

					<aside class="col-xs-3"><!-- right aside bar start-->

						<blockquote class="no-border">
							<a href="#"><i>Биласизми, шу пайтгача 16та давлат ЖЧни ўзида қабул қилган.</i></a>
						</blockquote>

						<div class="aside-banner">
							263x328
						</div>

						<h3 class="aside-title">ТУРНИР ЖАДВАЛИ</h3>

						<div class="form-group">
							<select class="form-control" id="sel3">
								<option>Европа</option>
								<option>Осиё</option>
								<option>Кубок</option>
								<option>Жахон</option>
							</select>
							<select class="form-control" id="sel4">
								<option>Англия. АПЛ</option>
								<option>Италия. «A» Серия</option>
								<option>УЕФА. ЕВРО</option>
								<option>УЕФА. ЕЧЛ</option>
							</select>
						</div>
						<table class="table">
							<thead>
							<tr>
								<th width="20">№</th>
								<th>Футболчи</th>
								<th class="text-center">Гол</th>
							</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Харри Кейн</td>
									<td class="text-center">21</td>

								</tr>

								<tr>
									<td>2</td>
									<td>Муҳаммад Салоҳ</td>
									<td class="text-center">21</td>

								</tr>
								<tr>
									<td>1</td>
									<td>Харри Кейн</td>
									<td class="text-center">21</td>

								</tr>

								<tr>
									<td>2</td>
									<td>Муҳаммад Салоҳ</td>
									<td class="text-center">21</td>

								</tr>
								<tr>
									<td>1</td>
									<td>Харри Кейн</td>
									<td class="text-center">21</td>

								</tr>

								<tr>
									<td>2</td>
									<td>Муҳаммад Салоҳ</td>
									<td class="text-center">21</td>

								</tr>
								<tr>
									<td>1</td>
									<td>Харри Кейн</td>
									<td class="text-center">21</td>

								</tr>

								<tr>
									<td>2</td>
									<td>Муҳаммад Салоҳ</td>
									<td class="text-center">21</td>

								</tr>

							</tbody>
						</table>

						<h3 class="aside-title">СУРАТЛИ СЎРОВНОМА</h3>
						<p><b>AFC U23. Финалда қайси жамоа ғалаба қозонади, деб ўйлайсиз?</b></p>
						
						<div class="cnt-select bottom-btn">
							<div class="row">
								<div class="col-xs-6">
									<div class="cnt-item">
										<img src="/static/img/vietnam-flag.png" class="img-responsive" alt="img">
									</div>
								</div>
								<div class="col-xs-6">
									<div class="cnt-item">
										<img src="/static/img/uzbekistan-flag-5.jpg" class="img-responsive" alt="img">
									</div>
								</div>
							</div>
							<div class="row progress-row">
								<div class="col-xs-4">
									<b>Вьетнам</b>
								</div>
								<div class="col-xs-2">
									475
								</div>
								<div class="col-xs-6">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="70"
											 aria-valuemin="0" aria-valuemax="100" style="width:70%">
											70%
										</div>
									</div>
								</div>
							</div>
							<div class="row progress-row">
								<div class="col-xs-4">
									<b>Ўзбекистон</b>
								</div>
								<div class="col-xs-2">
									3393
								</div>
								<div class="col-xs-6">
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="70"
											 aria-valuemin="0" aria-valuemax="100" style="width:70%">
											70%
										</div>
									</div>
								</div>
							</div>
						</div>

						<h3 class="aside-title">СЎНГГИ ХАБАРЛАР</h3>
						<span class="date-line red-text">
							31 ЯНВАРЬ
						</span>
						<table class="table table-hover">
							<tr>
								<td>21:00</td>
								<td><a href="#">Почеттино: «Льоренте ҳақида изоҳ бера олмайман» <b class="red-text">[0]</b></a></td>
							</tr>
							<tr>
								<td>21:00</td>
								<td><a href="#">«Манчестер Сити» 10 йилда трансферлар учун қанча сарфлаган бўлиши мумкин?  <b class="red-text">[0]</b></a></td>
							</tr>
							<tr>
								<td>4:20</td>
								<td><a href="#"><b>Алонсо: «Зидан «Реал»да қолишга муносиб»  </b><b class="red-text">[0]</b></a></td>
							</tr>
							<tr>
								<td>11:00</td>
								<td><a href="#">«Манчестер Сити» 10 йилда трансферлар учун қанча сарфлаган бўлиши мумкин?  <b class="red-text">[0]</b></a></td>
							</tr>
							<tr>
								<td>23:00</td>
								<td><a href="#">Футзал. Ўзбекистон терма жамоаси Жанубий Кореяга қарши ўйин олдидан машғулот ўтказди   <b class="red-text">[1]</b></a></td>
							</tr>
							<td>21:00</td>
							<td><a href="#">Почеттино: «Льоренте ҳақида изоҳ бера олмайман» <b class="red-text">[0]</b></a></td>
							</tr>
							<tr>
								<td>21:00</td>
								<td><a href="#">«Манчестер Сити» 10 йилда трансферлар учун қанча сарфлаган бўлиши мумкин?  <b class="red-text">[0]</b></a></td>
							</tr>
							<tr>
								<td>4:20</td>
								<td><a href="#"><b>Алонсо: «Зидан «Реал»да қолишга муносиб»  </b><b class="red-text">[0]</b></a></td>
							</tr>
							<tr>
								<td>11:00</td>
								<td><a href="#">«Манчестер Сити» 10 йилда трансферлар учун қанча сарфлаган бўлиши мумкин?  <b class="red-text">[0]</b></a></td>
							</tr>
							<tr>
								<td>23:00</td>
								<td><a href="#">Футзал. Ўзбекистон терма жамоаси Жанубий Кореяга қарши ўйин олдидан машғулот ўтказди   <b class="red-text">[1]</b></a></td>
							</tr>
							<td>21:00</td>
							<td><a href="#">Почеттино: «Льоренте ҳақида изоҳ бера олмайман» <b class="red-text">[0]</b></a></td>
							</tr>
							<tr>
								<td>21:00</td>
								<td><a href="#">«Манчестер Сити» 10 йилда трансферлар учун қанча сарфлаган бўлиши мумкин?  <b class="red-text">[0]</b></a></td>
							</tr>
							<tr>
								<td>4:20</td>
								<td><a href="#"><b>Алонсо: «Зидан «Реал»да қолишга муносиб»  </b><b class="red-text">[0]</b></a></td>
							</tr>
							<tr>
								<td>11:00</td>
								<td><a href="#">«Манчестер Сити» 10 йилда трансферлар учун қанча сарфлаган бўлиши мумкин?  <b class="red-text">[0]</b></a></td>
							</tr>
							<tr>
								<td>23:00</td>
								<td><a href="#">Футзал. Ўзбекистон терма жамоаси Жанубий Кореяга қарши ўйин олдидан машғулот ўтказди   <b class="red-text">[1]</b></a></td>
							</tr>
						</table>
						<p class="text-right margin-b-0"><a href="#">Бошқа хабарлар <i class="fa fa-angle-right"></i></a></p>

						<h3 class="aside-title">КОНФЕРЕНЦИЯ</h3>
						<div class="conf-list">
							<div class="media">
								<div class="media-left">
									<img src="/static/img/shhhh-3.jpg" class="media-object">
								</div>
								<div class="media-body">
									<h5 class="media-heading">Шуҳрат Шокиржонов</h5>
									<p><a href="#">Фақат футбол ҳақида</a></p>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<img src="/static/img/Sher.jpg" class="media-object">
								</div>
								<div class="media-body">
									<h5 class="media-heading">Шуҳрат Шокиржонов</h5>
									<p><a href="#">Фақат футбол ҳақида</a></p>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<img src="/static/img/shhhh-3.jpg" class="media-object">
								</div>
								<div class="media-body">
									<h5 class="media-heading">Шуҳрат Шокиржонов</h5>
									<p><a href="#">Кучли Бешлик</a></p>
								</div>
							</div>
							<div class="media">
								<div class="media-left">
									<img src="/static/img/Sher.jpg" class="media-object">
								</div>
								<div class="media-body">
									<h5 class="media-heading">Шуҳрат Шокиржонов</h5>
									<p><a href="#">Фақат футбол ҳақида</a></p>
								</div>
							</div>
							<p class="text-right margin-b-0"><a href="#">барча конференциялар <i class="fa fa-angle-right"></i></a></p>
						</div>

					</aside><!-- right aside bar end-->

				</div>
			</div> <!-- main content end-->

			<footer>
				<nav class="footer-nav">
					<div class="row">
						<div class="col-xs-7">
							<div class="col-xs-4">
								<h3 class="footer-nav-title">САЙТ РУКНЛАРИ</h3>
								<ul class="footer-nav_list">
									<li><a href="#">Расмий хабарлар</a></li>
									<li><a href="#">Янгиликлар</a></li>
									<li><a href="#">Таҳлил ва мақолалар</a></li>
									<li><a href="#">Шарҳ ва анонслар</a></li>
									<li><a href="#">Репортажлар</a></li>
									<li><a href="#">Интервьюлар</a></li>
									<li><a href="#">Рейтинглар</a></li>
									<li><a href="#">Стадионлар</a></li>

								</ul>
							</div>
							<div class="col-xs-4">
								<h3 class="footer-nav-title">МИЛЛИЙ ЧЕМПИОНАТЛАР</h3>
								<ul class="footer-nav_list">
									<li><a href="#">Расмий хабарлар</a></li>
									<li><a href="#">Янгиликлар</a></li>
									<li><a href="#">Таҳлил ва мақолалар</a></li>
									<li><a href="#">Шарҳ ва анонслар</a></li>
									<li><a href="#">Репортажлар</a></li>
									<li><a href="#">Интервьюлар</a></li>
									<li><a href="#">Рейтинглар</a></li>
									<li><a href="#">Стадионлар</a></li>

								</ul>
							</div>
							<div class="col-xs-4">
								<h3 class="footer-nav-title">МУСОБАҚАЛАР</h3>
								<ul class="footer-nav_list">
									<li><a href="#">Расмий хабарлар</a></li>
									<li><a href="#">Янгиликлар</a></li>
									<li><a href="#">Таҳлил ва мақолалар</a></li>
									<li><a href="#">Шарҳ ва анонслар</a></li>
									<li><a href="#">Репортажлар</a></li>
									<li><a href="#">Интервьюлар</a></li>
									<li><a href="#">Рейтинглар</a></li>
									<li><a href="#">Стадионлар</a></li>

								</ul>
							</div>
						</div>
						<div class="col-xs-5">
							<div class="col-xs-6">
								<h3 class="footer-nav-title">ЛОЙИҲАЛАР</h3>
								<ul class="footer-nav_list">
									<li><a href="#">Расмий хабарлар</a></li>
									<li><a href="#">Янгиликлар</a></li>
									<li><a href="#">Таҳлил ва мақолалар</a></li>
									<li><a href="#">Шарҳ ва анонслар</a></li>
									<li><a href="#">Репортажлар</a></li>
									<li><a href="#">Интервьюлар</a></li>
									<li><a href="#">Рейтинглар</a></li>
									<li><a href="#">Стадионлар</a></li>

								</ul>
							</div>
							<div class="col-xs-6">
								<h3 class="footer-nav-title">САЙТ ҲАҚИДА</h3>
								<ul class="footer-nav_list">
									<li><a href="#">Расмий хабарлар</a></li>
									<li><a href="#">Янгиликлар</a></li>
									<li><a href="#">Таҳлил ва мақолалар</a></li>
									<li><a href="#">Шарҳ ва анонслар</a></li>
									<li><a href="#">Репортажлар</a></li>
									<li><a href="#">Интервьюлар</a></li>
									<li><a href="#">Рейтинглар</a></li>
									<li><a href="#">Стадионлар</a></li>

								</ul>
								<h3 class="footer-nav-title">ИЖТИМОИЙ ТАРМОҚЛАРДА:</h3>
								<ul class="footer-nav_list">
									<li><a href="#">Расмий хабарлар</a></li>
									<li><a href="#">Янгиликлар</a></li>
								</ul>
							</div>
						</div>
					</div>

				</nav>
				<div class="bottom-section">
					<div class="row">
						<div class="col-xs-8">
							<p>

								© STADION.UZ <br>
								Барча ҳуқуқлар ҳимояланган. Сайт материалларидан тўлиқ ёки қисман фойдаланилганда веб-сайт манзили кўрсатилиши шарт.
								Ўзбекистон матбуот ва ахборот агентлигининг интернет-ОАВ гувоҳномаси №0917.
							</p>
							<p>Блогдаги материаллар учун блог эгаси, хабарлар остидаги фикрлар учун фойдаланувчининг ўзи жавобгар.</p>
						</div>
						<div class="col-xs-4 text-right">
							<img src="https://get.mycounter.ua/counter.php?id=112394&amp;w=https%3A//stadion.uz/%23most_read-tab&amp;s=1280x1024x24&amp;c=1&amp;j=7&amp;gmt=3" width="88" height="61" title="MyCounter - счётчик и статистика" alt="MyCounter - счётчик и статистика" border="0">
						</div>
					</div>

				</div>
			</footer>


		</div><!-- container end -->

	<div class="hidden"></div>

	<!--[if lt IE 9]>
	<script src="/static/libs/html5shiv/es5-shim.min.js"></script>
	<script src="/static/libs/html5shiv/html5shiv.min.js"></script>
	<script src="/static/libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="/static/libs/respond/respond.min.js"></script>
	<![endif]-->

	<script src="/static/libs/jquery/jquery-1.11.2.min.js"></script>
	<script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/libs/plugins-scroll/plugins-scroll.js"></script>
	<script src="/static/js/common.js"></script>
</body>
</html>
{{end}}