{{define "main"}}
<div class="news-list">
    <div class="news-list_item">
        <h2 class="news-item_name">
            <a href="#">«Лейпциг» «Милан» футболчиси билан музокара олиб бормоқда</a>
        </h2>
        <div class="news-item_cat clearfix">
            <div class="pull-left">
                <a href="#">ЕВРОПА</a> /
                <a href="#">Трансферлар</a> /
                <a href="#">Тахминлар</a>
            </div>
            <div class="pull-right">
                <b>Рукн: </b>
                <a href="#">Янгиликлар</a>
            </div>
        </div>
        <div class="news-item_img">
            <img src="/static/img/mangalya2.jpg" alt="image">
        </div>
        <div class="news-item_text">
            Англияниг “Эвертон” клуби “Манчестер Сити” ҳимоячиси Элиаким Мангаляни ижара асосида ўз сафига қўшиб олди.
        </div>
        <div class="news-item_footer">
            <b>Киритилди:</b> 00:35, 01.02.2018.
            <b>Ўқилди:</b> 27 марта.
            <b>Фикрлар сони:</b> 0 та.
        </div>
    </div>

    <div class="news-list_item">
        <h2 class="news-item_name">
            <a href="#">«Лейпциг» «Милан» футболчиси билан музокара олиб бормоқда</a>
        </h2>
        <div class="news-item_cat clearfix">
            <div class="pull-left">
                <a href="#">ЕВРОПА</a> /
                <a href="#">Трансферлар</a> /
                <a href="#">Тахминлар</a>
            </div>
            <div class="pull-right">
                <b>Рукн: </b>
                <a href="#">Янгиликлар</a>
            </div>
        </div>
        <div class="news-item_img">
            <img src="/static/img/nagotomo1.jpg" alt="image">
        </div>
        <div class="news-item_text">
            Англия чемпионатининг 25-туридан ўрин олган “Тоттенхэм” ҳамда “Манчестер Юнайтед” жамоалари ўртасидаги марказий учрашув бошланмоқда.
        </div>
        <div class="news-item_footer">
            <b>Киритилди:</b> 00:35, 01.02.2018.
            <b>Ўқилди:</b> 27 марта.
            <b>Фикрлар сони:</b> 0 та.
        </div>
    </div>
    <div class="news-list_item">
        <h2 class="news-item_name">
            <a href="#">«Лейпциг» «Милан» футболчиси билан музокара олиб бормоқда</a>
        </h2>
        <div class="news-item_cat clearfix">
            <div class="pull-left">
                <a href="#">ЕВРОПА</a> /
                <a href="#">Трансферлар</a> /
                <a href="#">Тахминлар</a>
            </div>
            <div class="pull-right">
                <b>Рукн: </b>
                <a href="#">Янгиликлар</a>
            </div>
        </div>
        <div class="news-item_img">
            <img src="/static/img/mangalya2.jpg" alt="image">
        </div>
        <div class="news-item_text">
            Англияниг “Эвертон” клуби “Манчестер Сити” ҳимоячиси Элиаким Мангаляни ижара асосида ўз сафига қўшиб олди.
        </div>
        <div class="news-item_footer">
            <b>Киритилди:</b> 00:35, 01.02.2018.
            <b>Ўқилди:</b> 27 марта.
            <b>Фикрлар сони:</b> 0 та.
        </div>
    </div>

    <div class="news-list_item">
        <h2 class="news-item_name">
            <a href="#">«Лейпциг» «Милан» футболчиси билан музокара олиб бормоқда</a>
        </h2>
        <div class="news-item_cat clearfix">
            <div class="pull-left">
                <a href="#">ЕВРОПА</a> /
                <a href="#">Трансферлар</a> /
                <a href="#">Тахминлар</a>
            </div>
            <div class="pull-right">
                <b>Рукн: </b>
                <a href="#">Янгиликлар</a>
            </div>
        </div>
        <div class="news-item_img">
            <img src="/static/img/nagotomo1.jpg" alt="image">
        </div>
        <div class="news-item_text">
            Англия чемпионатининг 25-туридан ўрин олган “Тоттенхэм” ҳамда “Манчестер Юнайтед” жамоалари ўртасидаги марказий учрашув бошланмоқда.
        </div>
        <div class="news-item_footer">
            <b>Киритилди:</b> 00:35, 01.02.2018.
            <b>Ўқилди:</b> 27 марта.
            <b>Фикрлар сони:</b> 0 та.
        </div>
    </div>
    <div class="news-list_item">
        <h2 class="news-item_name">
            <a href="#">«Лейпциг» «Милан» футболчиси билан музокара олиб бормоқда</a>
        </h2>
        <div class="news-item_cat clearfix">
            <div class="pull-left">
                <a href="#">ЕВРОПА</a> /
                <a href="#">Трансферлар</a> /
                <a href="#">Тахминлар</a>
            </div>
            <div class="pull-right">
                <b>Рукн: </b>
                <a href="#">Янгиликлар</a>
            </div>
        </div>
        <div class="news-item_img">
            <img src="/static/img/mangalya2.jpg" alt="image">
        </div>
        <div class="news-item_text">
            Англияниг “Эвертон” клуби “Манчестер Сити” ҳимоячиси Элиаким Мангаляни ижара асосида ўз сафига қўшиб олди.
        </div>
        <div class="news-item_footer">
            <b>Киритилди:</b> 00:35, 01.02.2018.
            <b>Ўқилди:</b> 27 марта.
            <b>Фикрлар сони:</b> 0 та.
        </div>
    </div>

    <div class="news-list_item">
        <h2 class="news-item_name">
            <a href="#">«Лейпциг» «Милан» футболчиси билан музокара олиб бормоқда</a>
        </h2>
        <div class="news-item_cat clearfix">
            <div class="pull-left">
                <a href="#">ЕВРОПА</a> /
                <a href="#">Трансферлар</a> /
                <a href="#">Тахминлар</a>
            </div>
            <div class="pull-right">
                <b>Рукн: </b>
                <a href="#">Янгиликлар</a>
            </div>
        </div>
        <div class="news-item_img">
            <img src="/static/img/nagotomo1.jpg" alt="image">
        </div>
        <div class="news-item_text">
            Англия чемпионатининг 25-туридан ўрин олган “Тоттенхэм” ҳамда “Манчестер Юнайтед” жамоалари ўртасидаги марказий учрашув бошланмоқда.
        </div>
        <div class="news-item_footer">
            <b>Киритилди:</b> 00:35, 01.02.2018.
            <b>Ўқилди:</b> 27 марта.
            <b>Фикрлар сони:</b> 0 та.
        </div>
    </div>
</div>
{{end}}